* {
    font-family: 'Noto Sans';
}

.header a {
    text-decoration: none;
    color: #333333;
}

.main-login-container-wrapper {
    max-width: 1920px;
}

.privacy-policy {
    /* margin-top: 150px; */
    /* position: relative;
    top: 227px;     */
    /* max-width: 401px; */
}

#privacy-policy-for-reg {
    /* position: relative;
    top: 61px; */
}

.main-login-right-continer {
    /* max-width: 576px; */
}

.carousel-caption-text-h5 {
    font-size: 43px;
    font-weight: 400;
}

.carousel-caption-para {
    font-size: 16px;
    font-weight: 100;
}

.login-form-label {
    font-size: 16px;
    font-weight: 100;
}

.login-p-a {
    font-size: 14px;
    font-weight: 100;
    color: #414141;
}

.main-login-right-continer form {
    margin: auto;
}

    .main-login-right-continer form input, .main-login-right-continer form button, .main-login-right-continer form p {
        width: 401px;
    }

@media screen and (max-width:1600px) {
    .carousel-caption-text-h5 {
        font-size: 38px;
    }

    .carousel-caption-para {
        font-size: 14px;
    }
}

@media screen and (max-width:1400px) {
    .main-login-right-continer form input, .main-login-right-continer form button, .main-login-right-continer form p {
        width: 365px;
    }
}

@media screen and (max-width:1200px) {
    .main-login-container-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-login-right-continer {
        margin-top: 30px;
        width: 100%;
    }

    .privacy-policy {
    }
}

@media screen and (max-width:992px) {
    .carousel-caption-text-h5 {
        font-size: 36px;
    }

    .carousel-caption-para {
        font-size: 12px;
    }
}

@media screen and (max-width:576px) {
    .main-login-right-continer form input, .main-login-right-continer form button, .main-login-right-continer form p {
        width: 350px;
    }
}

@media screen and (max-width:400px) {
    .main-login-right-continer form input, .main-login-right-continer form button, .main-login-right-continer form p {
        width: 300px;
    }
}



/* ***************** Lost Password ******************* */


.lost-password-forgot-header {
    font-size: 22px;
    color: #414141;
}

.lost-password-forgot-header-caption {
    font-size: 14px;
    font-weight: 100;
    color: #414141;
}

#forgot-password-email-label {
    font-size: 16px;
    font-weight: 100;
}


/* *********** Registration ************ */

@media screen and (max-width:1756px) {
    #privacy-policy-for-reg {
    }
}

@media screen and (max-width:1440px) {
    .main-login-right-continer form input, .main-login-right-continer form button, .main-login-right-continer form p {
        width: 340px;
    }

    #privacy-policy-for-reg {
    }
}


.header a {
    text-decoration: none;
    color: #333333;
}
.mission-submit-btn button {
    border: 2px solid #F88634;
    color: #F88634;
}
.bg-orange {
    background-color: #F88634;
}
/*#grid:hover {
    background: #e6e6e6;
}
#list:hover {
    background: #e6e6e6;
}*/

.mission-card-wrapper .mission-cards .item .card .card-title{
    font-size:26px;
    font-weight:300;
}
.mission-card-wrapper .mission-cards .item .card .card-text{
    font-size:15px;
    font-weight:100;
}
.features-like-location{
    font-size:14px;
    font-weight:100;
    opacity:0.5;
}



nav .nav-tabs .active {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 2px solid black !important;
    font-weight:400 !important;
    /* background-color:red; */
    color: red;
}
.recent-volunteer-images img{
    height:70px;
    width:70px;
}
/*.carousel-control-prev-icon{
background-image: url("../assets/left.png");
}

.carousel-control-next-icon {
    background-image: url("../assets/right-arrow2.png");
}*/

.story-listing-top-img-card .card img{
    height:350px;
    object-fit:cover;
    opacity:0.4;
}
.story-listing-btn-to-hide{
    display:none;
}
.img-to-overlay:hover{
    background-color:black;
}
.img-to-overlay:hover img{
    opacity:0.4;
}
.img-to-overlay:hover .story-listing-btn-to-hide {
    display: block;
}



.story-listing-pagination-nav{
    width:fit-content;
    margin:auto;
}
    .story-listing-pagination-nav ul li a:hover {
        background-color: #F88634;
        color: white;
    }


    .card-to-scale:hover{
        transform : scale(1.1);
        transition : 0.2s ease-in-out;
    }
.city-item {
    display: none;
}