    @*@model List<CIPlatform.Models.ViewDataModels.StoryListingViewModel>*@
@model CIPlatform.Models.ViewDataModels.StoryViewModel

<script src="~/js/StoryListing.js"></script>

<div class="container-fluid">
    <div class="main-wrapper">

        @*<h1 id="totalStoryFilterSpan">Total stories are : </h1>*@
        <partial name="_Header" />
        <partial name="_Filter" model="@Model.StoryListingHeader" />

        <div class="story-listing-top-img-card">

            <div class="card text-bg-dark">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png" />

                <div class="card-img-overlay w-100 h-100 d-flex flex-column">
                    <div class="m-auto">
                        <p class="card-text text-center px-5 w-75 mx-auto d-none d-sm-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id autem numquam minima, vitae nulla eligendi fugiat veniam? Placeat?</p>
                        <div class="text-center">
                            <button id="share-story-btn" onclick="return location.href=' @Url.Action("ShareStory","StoryListing") '" class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold" >Share your story &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container story-cards mt-4">

            <partial name="_StoryListingCard" model="@Model.StoryListing" />

        </div>



    </div>

</div>