@*@model List<CIPlatform.Models.ViewDataModels.StoryListingViewModel>*@
@model CIPlatform.Models.ViewDataModels.StoryViewModel

<div class="container-fluid">
    <div class="main-wrapper">

        <partial name="_Header" />
        <partial name="_Filter" model="@Model.StoryListingHeader"/>

        <div class="story-listing-top-img-card">

            <div class="card text-bg-dark">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability.png" />

                <div class="card-img-overlay w-100 h-100 d-flex flex-column">
                    <div class="m-auto">
                        <p class="card-text text-center px-5 w-75 mx-auto d-none d-sm-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id autem numquam minima, vitae nulla eligendi fugiat veniam? Placeat?</p>
                        <div class="text-center">
                            <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">Share your story &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container story-cards mt-4">

            <partial name="_StoryListingCard" model="@Model.StoryListing"/>
           
        </div>

        <div class="mt-4 text-center m-auto">
            <nav aria-label="Page navigation example" class="story-listing-pagination-nav">
              <ul class="pagination">
                <li class="page-item mx-2">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                  </a>
                </li>
                <li class="page-item mx-2">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                  </a>
                </li>
                <li class="page-item mx-2"><a class="page-link" href="#">1</a></li>
                <li class="page-item mx-2"><a class="page-link" href="#">2</a></li>
                <li class="page-item mx-2"><a class="page-link" href="#">3</a></li>
                <li class="page-item mx-2">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                  </a>
                </li>
                <li class="page-item mx-2">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                  </a>
                </li>
              </ul>
            </nav>    
        </div>


    </div>

</div>