@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CIPlatform.Models.AdminViewModels
@model PageList<AdminStoryVM>

<div id="v-pills-story" >
    <div class="story-header border-bottom border-light">
        <span class="h2 border-bottom border-dark">Story</span>
    </div>
    <div class="d-flex search-missionapplication-and-add mt-3 justify-content-between">
        <div class="search-story d-flex align-items-center border ps-3">
            <img src="/assets/search.png" alt="" style="height:14px">&nbsp;&nbsp;
            <input class="form-control border border-0" type="search" placeholder="Search" aria-label="Search" id="search-story-query">
        </div>
    </div>
    <div class="story-table mt-4">
        <table class="table" style="">
            <thead>
                <tr>
                    <th scope="col">Story Title</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="admin-story-table-body-wrapper">
                <partial name="_AdminStoryTablePartial" model="Model.Records" />
            </tbody>
        </table>

        @{
            double d = Model.Count / 10.0;
            double pages = Math.Ceiling(d);
        }

        <div class="pagination-nav d-flex flex-row-reverse w-100">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item page-item-story d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>
                    <li class="page-item page-item-story d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                   @for (int i = 1; i <= @pages; i++)
                    {
                        <li class="page-item page-item-story" id="@i"><a class="page-link">@i</a></li>
                    }
                    <li class="page-item page-item-story d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li class="page-item page-item-story d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>