@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CIPlatform.Models.AdminViewModels
@model PageList<AdminStoryVM>

<div id="v-pills-story" >
    <div class="story-header border-bottom border-light">
        <span class="h2 border-bottom border-dark">Story</span>
    </div>
    <div class="d-flex search-missionapplication-and-add mt-3 justify-content-between">
        <div class="search-story d-flex align-items-center border ps-3">
            <img src="/assets/search.png" alt="" style="height:14px">&nbsp;&nbsp;
            <input class="form-control border border-0" type="search" placeholder="Search" aria-label="Search" id="search-query">
        </div>
    </div>
    <div class="story-table mt-4">
        <table class="table" style="">
            <thead>
                <tr>
                    <th scope="col">Story Title</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Records)
                {
                    <tr>
                        <td>@item.StoryTitle</td>
                        <td class="">@item.FullName</td>
                        <td>@item.MissionTitle</td>
                        <td>
                            <a href="" id="" class="btn rounded-pill fst-normal text-decoration-none border-orange bg-white text-orange px-3 py-0 me-1">
                                View
                            </a>
                            <a href="" class="fst-normal text-decoration-none">
                                <i class="bi bi-check-circle text-success"></i>
                            </a>
                            <a href="" id="deleteTimebasedTimesheet">
                                <i class="bi bi-x-circle text-danger"></i>
                            </a>
                            <a href="" id="deleteTimebasedTimesheet">
                                <i class="text-secondary bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
@*
                <tr>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td class="">Andrew Johnson</td>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td>
                        <a href="" id="" class="btn rounded-pill fst-normal text-decoration-none border-orange bg-white text-orange px-3 py-0 me-1">
                            View
                        </a>
                        <a href="" class="fst-normal text-decoration-none">
                            <i class="bi bi-check-circle text-success"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="bi bi-x-circle text-danger"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="text-secondary bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td class="">Andrew Johnson</td>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td>
                        <a href="" id="" class="btn rounded-pill fst-normal text-decoration-none border-orange bg-white text-orange px-3 py-0 me-1">
                            View
                        </a>
                        <a href="" class="fst-normal text-decoration-none">
                            <i class="bi bi-check-circle text-success"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="bi bi-x-circle text-danger"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="text-secondary bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td class="">Andrew Johnson</td>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td>
                        <a href="" id="" class="btn rounded-pill fst-normal text-decoration-none border-orange bg-white text-orange px-3 py-0 me-1">
                            View
                        </a>
                        <a href="" class="fst-normal text-decoration-none">
                            <i class="bi bi-check-circle text-success"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="bi bi-x-circle text-danger"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="text-secondary bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
*@


            </tbody>
        </table>

        <div class="pagination-nav d-flex flex-row-reverse w-100">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>
                    <li class="page-item d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li class="page-item d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
