@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CIPlatform.Models.AdminViewModels
@model PageList<AdminMissionApplicationVM>

<div  id="v-pills-missionapplication">
    <div class="missionapplication-header border-bottom border-light">
        <span class="h2 border-bottom border-dark">Mission Application</span>
    </div>
    <div class="d-flex search-missionapplication-and-add mt-3 justify-content-between">
        <div class="search-missionapplication d-flex align-items-center border ps-3">
            <img src="/assets/search.png" alt="" style="height:14px">&nbsp;&nbsp;
            <input class="form-control border border-0" type="search" placeholder="Search" aria-label="Search" id="search-missionapplication-query">
        </div>
    </div>
    <div class="missionapplication-table mt-4">
        <table class="table" style="">
            <thead>
                <tr>
                    <th scope="col">Mission Title</th>
                    <th scope="col">Mission Id</th>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Applied Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="admin-missionapplication-table-body-wrapper">
                <partial name="_AdminMissionApplicationTablePartial" model="@Model.Records" /> 
                

               @* <tr>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td class="">4567894</td>
                    <td class="">987854</td>
                    <td class="">Andrew Johnson</td>
                    <td>01/08/2020</td>
                    <td>
                        <a href="" class="fst-normal text-decoration-none">
                            <i class="bi bi-check-circle text-success"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="bi bi-x-circle text-danger"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td class="">4567894</td>
                    <td class="">987854</td>
                    <td class="">Andrew Johnson</td>
                    <td>01/08/2020</td>
                    <td>
                        <a href="" class="fst-normal text-decoration-none">
                            <i class="bi bi-check-circle text-success"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="bi bi-x-circle text-danger"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>A Latin professor at Hampden-Sydney</td>
                    <td class="">4567894</td>
                    <td class="">987854</td>
                    <td class="">Andrew Johnson</td>
                    <td>01/08/2020</td>
                    <td>
                        <a href="" class="fst-normal text-decoration-none">
                            <i class="bi bi-check-circle text-success"></i>
                        </a>
                        <a href="" id="deleteTimebasedTimesheet">
                            <i class="bi bi-x-circle text-danger"></i>
                        </a>
                    </td>
                </tr>*@



            </tbody>
        </table>

             @{
            double d = Model.Count/ 10.0;
            double pages = Math.Ceiling(d);
        }

        <div class="pagination-nav d-flex flex-row-reverse w-100">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item page-item-missionapplication d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>
                    <li class="page-item page-item-missionapplication d-flex">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                   @for (int i = 1; i <= @pages; i++)
                    {
                        <li class="page-item page-item-missionapplication" id="@i"><a class="page-link">@i</a></li>
                    }
                    <li class="page-item page-item-missionapplication d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li class="page-item page-item-missionapplication d-flex">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>