@using CIPlatform.Models.AdminViewModels
@model List<AdminSkillsViewModel>

     @foreach (var item in Model)
{
    <tr>
        <td>@item.SkillName</td>

        @if (item.Status==1)
        {
            <td class="text-success">Active</td>
        }
        else
        {
            <td class="text-danger">Inactive</td>
        }

        <td>
            <a href="" class="fst-normal edit-missiontheme-btn text-decoration-none" data-bs-toggle="modal" data-bs-target="#missionSkillsAddEditModal-@item.SkillId" data-missionskillid="@item.SkillId">
                <i class="bi text-orange bi-pencil-square me-2">
                </i>
            </a>
            <partial name="_AdminMissionSkillAddEditForm" model="@item" />
            <button class="btn bg-white border-0 px-4 rounded-pill" data-missionskillid="@item.SkillId" onclick="missionSkillDelete(this)">
                <i class="text-secondary bi bi-trash"></i>
            </button>
        </td>
    </tr>
}