
        <div class="filter-wrapper">
            <div class="border filter-main-container border-bottom-0">
                <div class="container h-100">
                    <form class="row justify-content-between h-100" style="min-height:78px">
                        <div class="col col-12 d-flex col-lg-4 align-items-center">
                            <!-- <i class="bi bi-search"></i> -->
                            <img src="~/assets/search.png" alt=""> &nbsp;&nbsp;

                            <input class="form-control me-2 border border-0"
                                   type="search"
                                   placeholder="Search Missions..."
                                   aria-label="Search" />
                        </div>
                        <div class="col col-12 d-flex col-lg-8 flex-lg-row">
                                <div class="col-6 d-lg-flex ">
                                    <div class="d-flex w-100 dropdown">
                                        <button class="bg-white form-select text-start text-dark  w-100" type="button"
                                            id="multiCheckboxDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Country
                                        </button>
                                        <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option11"><label class="form-check-label" for="option1">Option
                                                    1</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option12"><label class="form-check-label" for="option2">Option
                                                    2</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option13"><label class="form-check-label" for="option3">Option
                                                    3</label></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown w-100 d-flex">
                                        <button class=" bg-white form-select text-start text-dark  w-100" type="button"
                                            id="multiCheckboxDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                                            City
                                        </button>
                                        <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option21"><label class="form-check-label" for="option1">Option
                                                    1</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option22"><label class="form-check-label" for="option2">Option
                                                    2</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option23"><label class="form-check-label" for="option3">Option
                                                    3</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6 d-lg-flex">
                                    <div class="d-flex w-100 dropdown">
                                        <button class=" bg-white form-select text-start text-dark  w-100" type="button"
                                            id="multiCheckboxDropdown3" data-bs-toggle="dropdown" aria-expanded="false">
                                            Theme
                                        </button>
                                        <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option31"><label class="form-check-label" for="option1">Option
                                                    1</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option32"><label class="form-check-label" for="option2">Option
                                                    2</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option33"><label class="form-check-label" for="option3">Option
                                                    3</label></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown w-100 d-flex">
                                        <button class="bg-white form-select text-start text-dark  w-100" type="button"
                                            id="multiCheckboxDropdown4" data-bs-toggle="dropdown" aria-expanded="false">
                                            Skills
                                        </button>
                                        <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option1"><label class="form-check-label" for="option1">Option
                                                    1</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option2"><label class="form-check-label" for="option2">Option
                                                    2</label></li>
                                            <li><input class="form-check-input m-2" type="checkbox" value=""
                                                    id="option3"><label class="form-check-label" for="option3">Option
                                                    3</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>