@using CIPlatform.Models.ViewDataModels
@model MissionListingHeader
<div class="filter-wrapper">
    <div class="border filter-main-container border-bottom-0">
        <div class="container h-100">
            <form class="row justify-content-between h-100" style="min-height:78px">
                <div class="col col-12 d-flex col-lg-4 align-items-center">
                    <!-- <i class="bi bi-search"></i> -->
                    <img src="~/assets/search.png" alt=""> &nbsp;&nbsp;

                    <input class="form-control me-2 border border-0"
                           type="search"
                           placeholder="Search Missions..."
                           aria-label="Search" />
                </div>
                <div class="col col-12 d-flex col-lg-8 flex-lg-row">
                    <div class="col-6 d-lg-flex ">
                        <div class="d-flex w-100 dropdown">
                            <button class="bg-white form-select text-start text-dark  w-100" type="button"
                                    id="multiCheckboxDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                            </button>
                            <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">

                                @foreach (var item in Model.Country)
                                {
                                    <li>
                                        <input class="form-check-input m-2" type="checkbox" value=""
                                           id="option11"><label class="form-check-label" for="option1">
                                            @item.Name
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="dropdown w-100 d-flex">
                            <button class=" bg-white form-select text-start text-dark  w-100" type="button"
                                    id="multiCheckboxDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                                City
                            </button>
                            <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                @foreach (var item in Model.City)
                                {
                                    <li>
                                        <input class="form-check-input m-2" type="checkbox" value=""
                                           id="option11"><label class="form-check-label" for="option1">
                                            @item.Name
                                        </label>
                                    </li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 d-lg-flex">
                        <div class="d-flex w-100 dropdown">
                            <button class=" bg-white form-select text-start text-dark  w-100" type="button"
                                    id="multiCheckboxDropdown3" data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </button>
                            <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                @foreach (var item in Model.MissionTheme)
                                {
                                    <li>
                                        <input class="form-check-input m-2" type="checkbox" value=""
                                           id="option11"><label class="form-check-label" for="option1">
                                            @item.Title
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="dropdown w-100 d-flex">
                            <button class="bg-white form-select text-start text-dark  w-100" type="button"
                                    id="multiCheckboxDropdown4" data-bs-toggle="dropdown" aria-expanded="false">
                                Skills
                            </button>
                            <ul class="dropdown-menu p-3" aria-labelledby="multiCheckboxDropdown">
                                @foreach (var item in Model.Skills)
                                {
                                    <li>
                                        <input class="form-check-input m-2" type="checkbox" value=""
                                           id="option11"><label class="form-check-label" for="option1">
                                            @item.SkillName
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>