
<div class="container mt-5">
    <h2 class="fs-2 text-center">
        No mission found
    </h2>
    <div class="mission-submit-btn text-center mt-3">
        <button type="submit" class="btn bg-white  rounded-pill px-4">
            Submit new mission
            &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
        </button>
    </div>
</div>