@model List<CIPlatform.Models.User>


<div class="add-to-fav-btn w-100 w-md-50 my-2">
    <button class="btn-primary form-control bg-white text-secondary border border-secondary p-2 rounded-pill d-flex flex-wrap flex-md-nowrap justify-content-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="gridListRecommend()">
        <img src="~/assets/add1.png" />
        &nbsp; &nbsp;
        <span>
            Recommend to a Co-Worker
        </span>
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Select the co-workers</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body grid_list_modal_body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary reccommendMissionBtn" id="reccommendMissionBtn" data-bs-dismiss="modal">Reccommend</button>
                </div>
            </div>
        </div>
    </div>
</div>

