<div class="container">

    <div class="header-related-mission">
        <h2 class="fs-4 text-center fw-normnal text-secondary">Related Mission</h2>
    </div>


    <div class="mission-card-wrapper">
        <div class="mission-cards row  view-group" id="products">
            <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                <div class="card thumbnail shadow">
                    <div class="card">
                        <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                             class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <div class="location-and-applied-tags d-flex justify-content-between">
                                <div class="applied-tag bg-warning align-middle rounded-end px-3 ms-n1" style="margin-left:-1rem !important">
                                    <span class="text-light fw-light">Closed</span>
                                </div>
                                <div class="location-tag">
                                    <div class="features-like-location location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                        <a href="" class="text-decoration-none text-light">
                                            <span>
                                                <img src="~/assets/pin.png" alt="">&nbsp;
                                                Bhavnagar
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex features-like-location flex-column align-items-end h-75 justify-content-between">
                                <div class="like-group d-flex flex-column justify-content-between align-items-end mt-auto">
                                    <div class="bg-dark p-1 rounded-pill">
                                        <a href=""> <img src="~/assets/heart.png" alt=""></a>
                                    </div>
                                    <div class="bg-dark p-1 rounded-pill">
                                        <a href=""> <img src="~/assets/add1.png" alt=""></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="fw-lighter bg-white rounded-pill text-center fw-lighter w-50 align-self-center"
                          style="margin-top: -10px; z-index: 5;">Children</span>
                    <div class="card-body">
                        <h5 class="card-title">
                            Education Supplies for Every Pair of Shoes
                            Sold
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                        <div class="rating-img d-flex justify-content-between align-items-center">
                            <span class="fw-light fs">Australian Paradise</span>
                            <div class="d-flex">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/star-empty.png" alt="">
                                <img src="~/assets/star-empty.png" alt="">
                                <img src="~/assets/star-empty.png" alt="">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                                From
                                10/01/2019 until 25/02/2019
                            </span>
                        </div>
                        <hr class="" style="margin-top: -10px;">

                        <div class="time-seats">
                            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="seats mx-2">
                                        <img src="~/assets/Seats-left.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>10</span>
                                        <span class="fw-lighter">Seats Left</span>
                                    </div>
                                </div>
                                <div class="deadlines d-flex align-items-center justify-content-between">
                                    <div class="deadline mx-2">
                                        <img src="~/assets/deadline.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column ">
                                        <span>09/01/2019</span>
                                        <span class="fw-lighter">Deadline</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mission-submit-btn text-center">
                            <button type="submit" class="btn bg-white  rounded-pill px-4">
                                View Details
                                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                <div class="card thumbnail shadow">
                    <div class="card">
                        <img src="~/assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png"
                             class="card-img-top" alt="...">
                         <div class="card-img-overlay">
                            <div class="location-and-applied-tags d-flex justify-content-between">
                                <div class="applied-tag bg-warning align-middle rounded-end px-3 ms-n1" style="margin-left:-1rem !important">
                                    <span class="text-light fw-light">Closed</span>
                                </div>
                                <div class="location-tag">
                                    <div class="features-like-location location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                        <a href="" class="text-decoration-none text-light">
                                            <span>
                                                <img src="~/assets/pin.png" alt="">&nbsp;
                                                Bhavnagar
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex features-like-location flex-column align-items-end h-75 justify-content-between">
                                <div class="like-group d-flex flex-column justify-content-between align-items-end mt-auto">
                                    <div class="bg-dark p-1 rounded-pill">
                                        <a href=""> <img src="~/assets/heart.png" alt=""></a>
                                    </div>
                                    <div class="bg-dark p-1 rounded-pill">
                                        <a href=""> <img src="~/assets/add1.png" alt=""></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="fw-lighter bg-white rounded-pill text-center fw-lighter w-50 align-self-center"
                          style="margin-top: -10px; z-index: 5;">Children</span>
                    <div class="card-body">
                        <h5 class="card-title">
                            Education Supplies for Every Pair of Shoes
                            Sold
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                        <div class="rating-img d-flex justify-content-between align-items-center">
                            <span class="fw-light fs">Australian Paradise</span>
                            <div class="d-flex">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/star-empty.png" alt="">
                                <img src="~/assets/star-empty.png" alt="">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                                From
                                10/01/2019 until 25/02/2019
                            </span>
                        </div>
                        <hr class="" style="margin-top: -10px;">

                        <div class="time-seats">
                            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="seats mx-2">
                                        <img src="~/assets/Already-volunteered.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>250</span>
                                        <span class="fw-lighter">Already volunteered</span>
                                    </div>
                                </div>
                                <div class="deadlines d-flex align-items-center justify-content-between">
                                    <div class="deadline mx-2">
                                        <img src="~/assets/deadline.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column ">
                                        <span>09/01/2019</span>
                                        <span class="fw-lighter">Deadline</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mission-submit-btn text-center">
                            <button type="submit" class="btn bg-white  rounded-pill px-4">
                                View Details
                                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                </div>
                <div class="col-xl-4">
                </div>

            </div>
            <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                <div class="card thumbnail shadow">
                    <div class="card">
                        <img src="~/assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                             class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <div class="location-and-applied-tags d-flex justify-content-between">
                                <div class="applied-tag bg-warning align-middle rounded-end px-3 ms-n1" style="margin-left:-1rem !important">
                                    <span class="text-light fw-light">Closed</span>
                                </div>
                                <div class="location-tag">
                                    <div class="features-like-location location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                        <a href="" class="text-decoration-none text-light">
                                            <span>
                                                <img src="~/assets/pin.png" alt="">&nbsp;
                                                Bhavnagar
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex features-like-location flex-column align-items-end h-75 justify-content-between">
                                <div class="like-group d-flex flex-column justify-content-between align-items-end mt-auto">
                                    <div class="bg-dark p-1 rounded-pill">
                                        <a href=""> <img src="~/assets/heart.png" alt=""></a>
                                    </div>
                                    <div class="bg-dark p-1 rounded-pill">
                                        <a href=""> <img src="~/assets/add1.png" alt=""></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="fw-lighter bg-white rounded-pill text-center fw-lighter w-50 align-self-center"
                          style="margin-top: -10px; z-index: 5;">Children</span>
                    <div class="card-body">
                        <h5 class="card-title">
                            Education Supplies for Every Pair of Shoes
                            Sold
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore...
                        </p>
                        <div class="rating-img d-flex justify-content-between align-items-center">
                            <span class="fw-light fs">Australian Paradise</span>
                            <div class="d-flex">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/selected-star.png" alt="">
                                <img src="~/assets/star-empty.png" alt="">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                                From
                                10/01/2019 until 25/02/2019
                            </span>
                        </div>
                        <hr class="" style="margin-top: -10px;">

                        <div class="time-seats">
                            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="seats mx-2">
                                        <img src="~/assets/Seats-left.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span>10</span>
                                        <span class="fw-lighter">Seats Left</span>
                                    </div>
                                </div>
                                <div class="deadlines d-flex align-items-center justify-content-between">
                                    <div class="deadline mx-2">
                                        <img src="~/assets/deadline.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column ">
                                        <span>09/01/2019</span>
                                        <span class="fw-lighter">Deadline</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mission-submit-btn text-center">
                            <button type="submit" class="btn bg-white  rounded-pill px-4">
                                View Details
                                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                </div>
                <div class="col-xl-4">
                </div>

            </div>
           

        </div>
    </div>




</div>
