@model List<CIPlatform.Models.ViewDataModels.StoryListingViewModel>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>
            </div>
        </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>
            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>

            </div>
        </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>

            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>

            </div>
        </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>

            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>

            </div>
        </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>

            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>

            </div>
        </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>

            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>

            </div>
        </div>
    </div>
     <div class="col-12 col-md-6 col-lg-4  ">
        <div class="card rounded shadow m-1 card-to-scale">
            <div class="card img-to-overlay">
                <img src="~/assets/Grow-Trees-On-the-path-to-environment-sustainability-3.png" />
                <div class="card-img-overlay d-flex flex-column">
                    <div class="text-center story-listing-btn-to-hide m-auto">
                        <button class="btn border rounded-pill px-4 py-2 m-auto text-light fw-bold">View Details &nbsp; &nbsp; <i class="bi bi-arrow-right"></i></button>
                    </div>
                    <div class="story-listing-card-theme text-dark fw-lighter text-center" style="margin-top:auto;margin-bottom:-2rem">
                        <span class="rounded-pill px-2 bg-light">Environment</span>
                    </div>
                </div>

            </div>


            <div class="card-body">
                <h5 class="card-title">10 User and Customer Engagement Stratagies for 2019</h5>
                <p class="card-text fw-lighter">   Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque hic obcaecati illum iste ut nostrum repudiandae...</p>
                <div class="d-flex mt-auto align-items-center fw-light">
                    <img src="~/assets/volunteer1.png" class="rounded-circle me-2 " style="height:50px" />
                    <span>Andrew Johnson</span>
                </div>

            </div>
        </div>
    </div>
</div>
