@{
    ViewData["Title"] = "Home Page";
}


  <div class="main-login-container">

    <div class="main-login-container-wrapper row">

      <div class="col-lg-12 col-xl-8">
        <div id="carouselExampleCaptions" class="carousel slide m-auto">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100"
                alt="...">
              <div class="carousel-caption d-none d-md-block text-start">
                <h5 class="carousel-caption-text-h5">Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                <p class="carousel-caption-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100"
                alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-caption-text-h5">Second slide label</h5>
                <p class="carousel-caption-para">Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100"
                alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-caption-text-h5">Third slide label</h5>
                <p class="carousel-caption-para">Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="m-auto col-lg-12 col-xl-4">
        <div class="main-login-right-continer mx-4 d-flex flex-column justify-content-center mx-auto">
          <form class="" action="">
            <div class=" mb-3">
              <label for="exampleFormControlInput1" class="form-label login-form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="password">
              <label for="exampleFormControlInput2" class="form-label login-form-label">Password</label>
              <input type="password" name="exampleFormControlInput2" class="form-control" id="">
            </div>
            <div class="submit">
              <label for="">&nbsp; </label>
              <button type="submit" class="form-control border rounded-pill border-warning text-warning">Login</button>
            </div>
            <div class="lost-password mt-3">
              <p class="text-center"><a href="lost-password.html" class=" text-decoration-none text-dark login-p-a">Lost your
                  password?</a></p>
            </div>
            <div class="new-account mt-3">
              <p class="text-center login-p-a">Don't have an account? <a class="text-decoration-none " href="registration.html">Create an
                  account</a></p>
            </div>
          </form>
          <div class="mt-5 text-center">
            <a href="" class="text-decoration-none text-center text-secondary privacy-policy login-p-a " id="">Privacy Policy</a>
          </div>
        </div>
      </div>

    </div>

  </div>
