@model TblUser

@{
    ViewData["Title"] = "Home Page";
}

@* <div class="container-fluid">
heightt    <div class="main-wrapper">
             <div class="header container">
                <nav class="navbar navbar-expand-sm navbar-lightt">
                    <div class="container-fluid">
                     
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Stories</a>
                          </li>
                          <li class="nav-item ">
                          <a class="nav-link" href="#">Policy</a>
                          </li>
                          <li>
                              <a class="nav-link" href="#">
                                  <img src="~/assets/drop-down.png" alt="">
                              </a>
                          </li>
                        </ul>   
                      </div>
                      <span class="navbar-img">
                      <img src="~/assets/user-img-large.png" class="rounded-circle mx-2" style="height:40px;width:40px"   alt="">
                        <span>Evan Donochue</span>
                    </span>
                    <span class="navbar-text d-flex">
                        
                        <a class="nav-link" href="#">
                            <img src="~/assets/drop-down.png"  alt="">
                        </a>
                    </span>
                    </div>
                  </nav>
             </div>

             <div class="filter-wrapper">
                <div class="border border-bottom-0" style="height: 78px">
                    <div class="container h-100">
                      <form class="d-flex justify-content-between w-100 h-100">
                        <div class="d-flex align-items-center w-50">
                          <!-- <i class="bi bi-search"></i> -->
                          <img src="~/assets/search.png" alt="">
                          <input
                            class="form-control me-2 border border-0"
                            type="search"
                            placeholder="Search Missions..."
                            aria-label="Search"
                          />
                        </div>
                        <div class="d-flex w-50">
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Country</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>City</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Theme</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Skills</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                      </form>
                    </div>
                  </div>
             </div>
             <hr class="m-0 opacity-100 bg-dark text-dark" style="height:3px">
        </div>
    </div>*@

<div class="container-fluid">
        <div class="main-wrapper">
             <div class="header container">
                <nav class="navbar navbar-expand-sm navbar-lightt">
                    <div class="container-fluid">
                     
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Stories</a>
                          </li>
                          <li class="nav-item ">
                          <a class="nav-link" href="#">Policy</a>
                          </li>
                          <li>
                              <a class="nav-link" href="#">
                                  <img src="~/assets/drop-down.png" alt="">
                              </a>
                          </li>
                        </ul>   
                      </div>
                      <span class="navbar-img">
                      <img src="~/assets/user-img-large.png" class="rounded-circle mx-2" style="height:40px;width:40px"   alt="">
                        <span>Evan Donochue</span>
                    </span>
                    <span class="navbar-text d-flex">
                        
                        <a class="nav-link" href="#">
                            <img src="~/assets/drop-down.png"  alt="">
                        </a>
                    </span>
                    </div>
                  </nav>
             </div>

             <div class="filter-wrapper">
                <div class="border filter-main-container border-bottom-0">
                    <div class="container h-100">
                      <form class="row justify-content-between h-100"  style="min-height:78px">
                        <div class="col col-12 d-flex col-lg-4 align-items-center">
                          <!-- <i class="bi bi-search"></i> -->
                          <img src="~/assets/search.png" alt=""> &nbsp;&nbsp;

                          <input
                            class="form-control me-2 border border-0"
                            type="search"
                            placeholder="Search Missions..."
                            aria-label="Search"
                          />
                        </div>
                        <div class="col col-12 d-flex col-lg-8 flex-lg-row">
                            <div class="col-6 d-lg-flex ">
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Country</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>City</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-6 d-lg-flex">
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Theme</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Skills</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
             </div>
             <hr class="m-0 opacity-100 bg-light text-dark" style="height:3px">

             <div class="filter-badge d-flex container flex-wrap mt-2 align-items-center">
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Tree Plantation </span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Canada </span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Toronto</span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Montreal</span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Environment</span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Nutrition</span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Anthropology</span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="d-flex bg-light rounded-pill p-2 m-2">
                    <span>Environment Science</span>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <span>Clear all</span>
            </div>

            <div class="mission-main-wrapper container mt-3">
                <div class="head-sort d-flex justify-content-between ">
                    <div class="explore-head">
                        <p class="fs-3 fw-lighter">Explore <span class="fs-2 fw-bolder">72 Missions</span> </p>
                    </div>
                    <div class="sort-head d-flex w-25 align-items-center">

                        <select class="form-select mx-2" aria-label="Default select example">
                            <option selected>Sort By</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div class="rounded-circle bg-light p-2 mx-2">
                            <a href="" id="grid">
                                <img src="./assets/grid.png" alt="">
                            </a>
                        </div>
                        <div class="rounded-circle p-2 mx-2">
                            <a href="" id="list">
                                <img src="./assets/list.png" alt="">
                            </a>
                        </div>



                    </div>
                </div>

                <div class="mission-card-wrapper">
                     <div class="mission-cards row  view-group" id="products">
                        <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                            <div class="card thumbnail">
                                <div class="card">
                                    <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                        class="card-img-top" alt="...">
                                    <div class="card-img-overlay">
                                        <div
                                            class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                            <div
                                                class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                                <a href="" class="text-decoration-none text-light"> <span><img
                                                            src="./assets/pin.png" alt="">&nbsp; Bhavnagar</span></a>
                                            </div>
                                            <div class="like-group d-flex flex-column justify-content-between">
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <a href=""> <img src="./assets/heart.png" alt=""></a>
                                                </div>
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <a href=""> <img src="./assets/add1.png" alt=""></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span
                                    class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                                    style="margin-top: -10px; z-index: 5;">Children</span>
                                <div class="card-body">
                                    <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                                        Sold</h5>
                                    <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    <div class="rating-img d-flex justify-content-between align-items-center">
                                        <span>Australian Paradise</span>
                                        <div class="d-flex">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                                            10/01/2019 until 25/02/2019</span>
                                    </div>
                                    <hr class="" style="margin-top: -10px;">

                                    <div class="time-seats">
                                        <div
                                            class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="seats mx-2">
                                                    <img src="./assets/Seats-left.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span>10</span>
                                                    <span class="fw-lighter">Seats Left</span>
                                                </div>
                                            </div>
                                            <div class="deadlines d-flex align-items-center justify-content-between">
                                                <div class="deadline mx-2">
                                                    <img src="./assets/deadline.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column ">
                                                    <span>09/01/2019</span>
                                                    <span class="fw-lighter">Deadline</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mission-submit-btn text-center">
                                        <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                            &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                            <div class="card thumbnail">
                                <div class="card">
                                    <img src="./assets/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png"
                                        class="card-img-top" alt="...">
                                    <div class="card-img-overlay">
                                        <div
                                            class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                            <div
                                                class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                                <span> <img src="./assets/pin.png" alt="">&nbsp; Bhavnagar</span>
                                            </div>
                                            <div class="like-group d-flex flex-column justify-content-between">
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/heart.png" alt="">
                                                </div>
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/add1.png" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span
                                    class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                                    style="margin-top: -10px; z-index: 5;">Children</span>
                                <div class="card-body">
                                    <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                                        Sold</h5>
                                    <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    <div class="rating-img d-flex justify-content-between align-items-center">
                                        <span>Australian Paradise</span>
                                        <div class="d-flex">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                                            10/01/2019 until 25/02/2019</span>
                                    </div>
                                    <hr class="" style="margin-top: -10px;">

                                    <div class="time-seats">
                                        <div
                                            class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="seats mx-2">
                                                    <img src="./assets/Already-volunteered.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span>250</span>
                                                    <span class="fw-lighter">Already volunteered</span>
                                                </div>
                                            </div>
                                            <div class="deadlines d-flex align-items-center justify-content-between">
                                                <div class="deadline mx-2">
                                                    <img src="./assets/deadline.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column ">
                                                    <span>09/01/2019</span>
                                                    <span class="fw-lighter">Deadline</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mission-submit-btn text-center">
                                        <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                            &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">

                            </div>
                            <div class="col-xl-4">

                            </div>

                        </div>
                        <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                            <div class="card thumbnail">
                                <div class="card">
                                    <img src="./assets/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                                        class="card-img-top" alt="...">
                                    <div class="card-img-overlay">
                                        <div
                                            class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                            <div
                                                class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                                <span> <img src="./assets/pin.png" alt="">&nbsp; Bhavnagar</span>
                                            </div>
                                            <div class="like-group d-flex flex-column justify-content-between">
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/heart.png" alt="">
                                                </div>
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/add1.png" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span
                                    class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                                    style="margin-top: -10px; z-index: 5;">Children</span>
                                <div class="card-body">
                                    <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                                        Sold</h5>
                                    <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    <div class="rating-img d-flex justify-content-between align-items-center">
                                        <span>Australian Paradise</span>
                                        <div class="d-flex">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                                            10/01/2019 until 25/02/2019</span>
                                    </div>
                                    <hr class="" style="margin-top: -10px;">

                                    <div class="time-seats">
                                        <div
                                            class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="seats mx-2">
                                                    <img src="./assets/Seats-left.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span>10</span>
                                                    <span class="fw-lighter">Seats Left</span>
                                                </div>
                                            </div>
                                            <div class="deadlines d-flex align-items-center justify-content-between">
                                                <div class="deadline mx-2">
                                                    <img src="./assets/deadline.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column ">
                                                    <span>09/01/2019</span>
                                                    <span class="fw-lighter">Deadline</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mission-submit-btn text-center">
                                        <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                            &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">

                            </div>
                            <div class="col-xl-4">

                            </div>

                        </div>
                        <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                            <div class="card  thumbnail">
                                <div class="card">
                                    <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                        class="card-img-top" alt="...">
                                    <div class="card-img-overlay">
                                        <div
                                            class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                            <div
                                                class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                                <span> <img src="./assets/pin.png" alt="">&nbsp; Bhavnagar</span>
                                            </div>
                                            <div class="like-group d-flex flex-column justify-content-between">
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/heart.png" alt="">
                                                </div>
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/add1.png" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span
                                    class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                                    style="margin-top: -10px; z-index: 5;">Children</span>
                                <div class="card-body">
                                    <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                                        Sold</h5>
                                    <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    <div class="rating-img d-flex justify-content-between align-items-center">
                                        <span>Australian Paradise</span>
                                        <div class="d-flex">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                                            10/01/2019 until 25/02/2019</span>
                                    </div>
                                    <hr class="" style="margin-top: -10px;">

                                    <div class="time-seats">
                                        <div
                                            class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="seats mx-2">
                                                    <img src="./assets/Already-volunteered.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span>250</span>
                                                    <span class="fw-lighter">Already volunteered</span>
                                                </div>
                                            </div>
                                            <div class="deadlines d-flex align-items-center justify-content-between">
                                                <div class="deadline mx-2">
                                                    <img src="./assets/deadline.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column ">
                                                    <span>09/01/2019</span>
                                                    <span class="fw-lighter">Deadline</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mission-submit-btn text-center">
                                        <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                            &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">

                            </div>
                            <div class="col-xl-4">

                            </div>

                        </div>
                        <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                            <div class="card thumbnail">
                                <div class="card">
                                    <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                        class="card-img-top" alt="...">
                                    <div class="card-img-overlay">
                                        <div
                                            class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                            <div
                                                class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                                <span> <img src="./assets/pin.png" alt="">&nbsp; Bhavnagar</span>
                                            </div>
                                            <div class="like-group d-flex flex-column justify-content-between">
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/heart.png" alt="">
                                                </div>
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/add1.png" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span
                                    class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                                    style="margin-top: -10px; z-index: 5;">Children</span>
                                <div class="card-body">
                                    <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                                        Sold</h5>
                                    <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    <div class="rating-img d-flex justify-content-between align-items-center">
                                        <span>Australian Paradise</span>
                                        <div class="d-flex">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                            <img src="./assets/star-empty.png" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                                            10/01/2019 until 25/02/2019</span>
                                    </div>
                                    <hr class="" style="margin-top: -10px;">

                                    <div class="time-seats">
                                        <div
                                            class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="seats mx-2">
                                                    <img src="./assets/Already-volunteered.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span>250</span>
                                                    <span class="fw-lighter">Already volunteered</span>
                                                </div>
                                            </div>
                                            <div class="deadlines d-flex align-items-center justify-content-between">
                                                <div class="deadline mx-2">
                                                    <img src="./assets/deadline.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column ">
                                                    <span>09/01/2019</span>
                                                    <span class="fw-lighter">Deadline</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mission-submit-btn text-center">
                                        <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                            &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">

                            </div>
                            <div class="col-xl-4">

                            </div>

                        </div>
                        <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                            <div class="card thumbnail">
                                <div class="card">
                                    <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                        class="card-img-top" alt="...">
                                    <div class="card-img-overlay">
                                        <div
                                            class="d-flex features-like-location flex-column align-items-end h-100 justify-content-between">
                                            <div
                                                class="location-field text-light fw-lighter bg-dark px-2 py-1 rounded-pill text-center">
                                                <span> <img src="./assets/pin.png" alt="">&nbsp; Bhavnagar</span>
                                            </div>
                                            <div class="like-group d-flex flex-column justify-content-between">
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/heart.png" alt="">
                                                </div>
                                                <div class="bg-dark p-1 rounded-pill">
                                                    <img src="./assets/add1.png" alt="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <span
                                    class="fw-lighter bg-light rounded-pill text-center fw-lighter w-50 align-self-center"
                                    style="margin-top: -10px; z-index: 5;">Children</span>
                                <div class="card-body">
                                    <h5 class="card-title fs-3 fw-medium">Education Supplies for Every Pair of Shoes
                                        Sold</h5>
                                    <p class="card-text fs-6 fw-lighter">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                                    <div class="rating-img d-flex justify-content-between align-items-center">
                                        <span>Australian Paradise</span>
                                        <div class="d-flex">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                            <img src="./assets/selected-star.png" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="rounded-pill bg-white border px-2 mt-4" style="z-index: 1;">From
                                            10/01/2019 until 25/02/2019</span>
                                    </div>
                                    <hr class="" style="margin-top: -10px;">

                                    <div class="time-seats">
                                        <div
                                            class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="seats mx-2">
                                                    <img src="./assets/Already-volunteered.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <span>250</span>
                                                    <span class="fw-lighter">Already volunteered</span>
                                                </div>
                                            </div>
                                            <div class="deadlines d-flex align-items-center justify-content-between">
                                                <div class="deadline mx-2">
                                                    <img src="./assets/deadline.png" alt="">
                                                </div>
                                                <div class="d-flex flex-column ">
                                                    <span>09/01/2019</span>
                                                    <span class="fw-lighter">Deadline</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mission-submit-btn text-center">
                                        <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                            &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">

                            </div>
                            <div class="col-xl-4">

                            </div>

                        </div>

                    </div> 
                    
                    <div class="mission-cards-list">
                        <div class="card mb-3">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="./assets/Grow-Trees-On-the-path-to-environment-sustainability-2.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex card-header-small justify-content-between">
                                        <div class="card-header-small-left fs-6 d-flex">
                                            <span class="mx-1"><img src="./assets/pin1.png" alt=""> &nbsp; Atlanta</span>
                                            <span class="mx-1"><img src="./assets/web.png" alt=""> &nbsp; Environment</span>
                                            <span class="mx-1"><img src="./assets/organization.png" alt=""> &nbsp; Smith International Caring Foundation</span>
                                        </div>
                                        <div class="card-header-small-right">
                                            <div class="d-flex rating-imgs">
                                                <img src="./assets/selected-star.png" alt="">
                                                <img src="./assets/selected-star.png" alt="">
                                                <img src="./assets/selected-star.png" alt="">
                                                <img src="./assets/selected-star.png" alt="">
                                                <img src="./assets/selected-star.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                  <h5 class="card-title mt-3">Planting and afforestation activities</h5>
                                  <p class="p-0 m-0 card-text fw-lighter">This summer we are aiming to plant 4000 trees</p>
                                  <div class="footer-insights-wrapper mt-5">
                                      <div class="d-flex mission-list-footer justify-content-between">
                                            <div class="d-flex mission-list-footer-left">
                                                <div class="d-flex align-items-center mx-2">
                                                    <img src="./assets/Seats-left.png" />
                                                    <div class="d-flex flex-column ms-2 ">
                                                        <span class="dark-gray">397</span>
                                                        <span class="light-gray fs-fourteen">Seats Left</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center mx-2">
                                                    <img src="./assets/mission.png" style="height:24px; width:24px"/>
                                                    <div class="d-flex flex-column ms-2 ">
                                                        <div class="progress" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height:8px">
                                                            <div class="progress-bar bg-orange-color" style="width: 75%"></div>
                                                        </div>
                                                        <span class="light-gray fs-fourteen mt-2">achieved</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center mx-2">
                                                    <img src="./assets/calender.png" />
                                                    <div class="d-flex flex-column ms-2 ">
                                                        <span class="dark-gray">From 01/09/2019</span>
                                                        <span class="light-gray fs-fourteen">To 01/12/2019</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center mx-2">
                                                    <i class="bi bi-tools"></i>
                                                    <div class="d-flex flex-column ms-2 ">
                                                        <span class="dark-gray">Skills</span>
                                                        <span class="light-gray fs-fourteen">Botany</span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="mission-list-footer-right">
                                                <div class="mission-submit-btn text-center">
                                                    <button type="submit" class="btn btn-primary bg-white  rounded-pill px-4">Apply
                                                        &nbsp; &nbsp;<img src="./assets/right-arrow.png" alt=""></button>
                                                </div>
                                            </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>