<div class="mission-info-wrapper container">
    <div class="mission-title">
        <h2 class="fw-light fs-2">CSR initiative stands for Coffee & Farmer Equity</h2>
    </div>
    <div class="mission-info">
        <h6 class="fw-lighter fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h6>
    </div>
    <hr/>
    <div class="mission-goal-badge text-center" style="margin-top:-2rem">
        <span class="border rounded-pill badge bg-white text-dark fw-lighter ">Plant 10,000 Trees</span>
    </div>
    <div class="seats-left-wrapper">

        <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-between">
                <div class="seats mx-2">
                    <img src="~/assets/Already-volunteered.png" alt="">
                </div>
                <div class="d-flex flex-column">
                    <span>10</span>
                    <span class="fw-lighter">Seats left</span>
                </div>
            </div>
           
                <div class="d-flex align-items-center mx-2">
                    <img src="~/assets/mission.png"
                         style="height:24px; width:24px" />
                    <div class="d-flex flex-column ms-2 ">
                        <div class="progress" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100"
                             style="height:8px">
                            <div class="progress-bar bg-warning bg-orange-color"
                                 style="width: 75%"></div>
                        </div>
                        <span class="light-gray fs-fourteen mt-2">achieved</span>
                    </div>
                </div>
           
        </div>
    </div>

    <hr/>

    <div class="add-to-fav-and-share-btn d-flex justify-content-between mt-3 align-items-center">
        <div class="add-to-fav-btn w-50 me-2">
            <button class="btn-primary form-control bg-white text-secondary border border-secondary p-2 rounded-pill">
                <img src="~/assets/heart1.png" />
                &nbsp; &nbsp;
               <span>
                   Add To Favourite
               </span> 
            </button>
        </div>
           <div class="add-to-fav-btn w-50">
            <button class="btn-primary form-control bg-white text-secondary border border-secondary p-2 rounded-pill">
                <img src="~/assets/add1.png" />
                &nbsp; &nbsp;
                <span>
                Recommend to a Co-Worker
                </span>
            </button>
        </div>
    </div>

    <hr style="z-index:1"/>

    <div class="rating-images-wrapper mx-auto bg-white" style="margin-top:-2rem; z-index:3">
        <div class="rating-star-images d-flex justify-content-center bg-white">
            <img src="~/assets/star-empty.png" />
            <img src="~/assets/star-empty.png" />
            <img src="~/assets/star-empty.png" />
            <img src="~/assets/star-empty.png" />
            <img src="~/assets/star-empty.png" />
        </div>
    </div>

    <div class="mission-org-city-wrapper d-flex justify-content-between mt-3">
        <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-100 ">
            <img src="~/assets/pin1.png"/>
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">City</span>
                <span class="city-tag text-secondary">Berlin</span>
            </div>
        </div>
        <div class="Location-city d-flex justify-content-between flex-column align-items-start border p-3 w-100 ms-2">
            <img src="~/assets/web.png"/>
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">Theme</span>
                <span class="city-tag text-secondary">Environment</span>
            </div>
        </div><div class="Location-city justify-content-between d-flex flex-column align-items-start border p-3 w-100 ms-2">
            <img src="~/assets/calender.png"/>
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">Date</span>
                <span class="city-tag text-secondary">Ongoing Opportunity</span>
            </div>
        </div><div class="Location-city justify-content-between d-flex flex-column align-items-start border p-3 w-100 ms-2">
            <img src="~/assets/organization.png"/>
            <div class="mission-location-info d-flex flex-column flex-start mt-4">
                <span class="city-tag text-secondary fw-lighter">Organization</span>
                <span class="city-tag text-secondary">CSE Network</span>
            </div>
        </div>
    </div>

    <div class="mission-submit-btn text-center mt-3">
                            <button type="submit" class="btn bg-white  rounded-pill px-4">
                                Apply
                                &nbsp; &nbsp;<img src="~/assets/right-arrow.png" alt="">
                            </button>
                        </div>


</div>