@inject IHttpContextAccessor HttpContextAccessor
@using CIPlatform.Models.AdminViewModels
@model PageList<AdminUserVM>

<script src="~/js/Admin.js"></script>

<div class="container-fluid">

    <div class="d-flex admin-nav align-items-start">
        <div class="nav flex-column nav-pills bg-orange me-3" id="v-pills-tab" aria-orientation="vertical" style="min-width:350px;height:100vh">
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-user-tab" type="button" ><i class="bi bi-person-fill text-white"></i>  &nbsp; User</button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-cms-tab" type="button"><i class="font-24 bi bi-file-earmark-text-fill text-white"></i>  &nbsp; CMS Page</button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-mission-tab" type="button">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     height="24pt" width="24pt" viewBox="0 0 100.000000 100.000000"
                     preserveAspectRatio="xMidYMid meet">
                        <metadata>
                            Created by potrace 1.10, written by Peter Selinger 2001-2011
                        </metadata>
                        <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"
                           direction height fill="currentcolor" stroke="none">
                            <path d="M400 949 c-70 -14 -163 -66 -223 -126 -105 -105 -153 -252 -129 -395
                            50 -299 372 -470 647 -344 68 31 165 122 205 191 74 129 77 303 9 437 -19 37
                            -22 39 -36 25 -14 -14 -13 -20 7 -61 143 -296 -121 -644 -446 -589 -279 48
                            -433 346 -310 598 108 220 397 302 599 169 44 -29 48 -60 12 -94 -23 -21 -26
                            -22 -42 -8 -51 45 -107 63 -193 63 -100 -1 -160 -24 -225 -90 -66 -65 -89
                            -125 -90 -225 0 -78 3 -90 34 -148 38 -70 69 -100 145 -140 44 -23 63 -27 136
                            -27 73 0 92 4 136 27 76 40 107 70 145 140 30 57 33 71 34 148 0 69 -5 94 -24
                            133 -22 44 -25 47 -39 33 -14 -14 -14 -19 2 -53 27 -57 31 -130 12 -198 -32
                            -110 -148 -195 -266 -195 -150 0 -280 130 -280 280 0 118 85 234 195 266 74
                            21 145 14 214 -20 28 -15 51 -30 51 -34 0 -5 -15 -22 -33 -40 l-33 -32 -39 20
                            c-51 26 -100 25 -155 -2 -132 -67 -132 -249 0 -315 134 -69 278 40 256 192 -7
                            44 -8 46 -25 30 -14 -12 -17 -26 -14 -58 5 -51 -20 -97 -69 -127 -117 -71
                            -259 71 -188 188 44 71 144 94 199 45 9 -7 -63 -73 -80 -73 -39 0 -51 -52 -17
                            -74 22 -14 51 2 56 30 2 10 58 74 125 142 93 93 128 122 147 122 17 0 44 17
                            80 50 l54 50 -42 0 -42 0 0 43 -1 42 -37 -42 -37 -42 -55 34 c-93 58 -211 77
                            -330 54z m440 -119 c0 -13 -7 -20 -20 -20 -23 0 -26 10 -8 28 18 18 28 15 28
                            -8z" />
                        </g>
                </svg>

                &nbsp; Mission
            </button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-missiontheme-tab" type="button"><i class="font-24 bi bi-columns text-white"></i>  &nbsp; Mission Theme</button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-missionskills-tab" type="button"><i class="font-24 bi bi-tools text-white"></i> &nbsp; Mission skills</button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-missionapplication-tab" type="button"><i class="font-24 bi bi-folder-fill text-white"></i>  &nbsp; Mission Application</button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-story-tab" type="button"><i class="font-24 bi bi-bookmark-star-fill text-white"></i>  &nbsp; Story</button>
            <button class="nav-link mx-4 text-start text-white font-18 admin-sidebar-btn" id="v-pills-bannermanagement-tab" type="button"><i class="font-24 bi bi-aspect-ratio-fill text-white"></i> &nbsp; Banner Management</button>
        </div>
        <div class="d-flex flex-column w-100">
            <div class="d-flex justify-content-between align-items-center shadow p-3 mb-5 bg-body rounded">
                <div class="w-100">
                    <span id="left-time"></span>
                </div>

                <div class="navbar-img d-flex w-100 justify-content-end me-3">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("userImage") != null)
                    {
                        <img src="@HttpContextAccessor.HttpContext.Session.GetString("userImage")" class="rounded-circle mx-2" style="height:40px;width:40px" alt="">
                    }
                    else
                    {
                        <img src="~/assets/user1.png" class="rounded-circle mx-2" style="height:40px;width:40px" alt="">
                    }
                    <div class="dropdown">

                        <a class="btn btn-secondary bg-white text-white  border border-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="text-dark">
                                @HttpContextAccessor.HttpContext.Session.GetString("username")  &nbsp; &nbsp; <img src="~/assets/drop-down.png" alt="">
                            </span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" asp-action="UserEdit" asp-controller="User">Profile</a></li>
                            <li><a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="User">Volunteering Timesheet</a></li>
                            <li class="bg-danger"><a class="dropdown-item text-white" asp-action="Logout" asp-controller="Home">LOG OUT</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="tab-content" id="v-pills-tabContent">
                <div class="admin-main-wrapper">
                    <partial name="_AdminUser" model="Model" />
                </div>

                @*<div class="admin-cms-wrapper">
                    <partial name="_AdminCms" model="Model.AdminCmsViewModel" />
                </div>

                <div class="admin-mission-wrapper">
                    <partial name="_AdminMission" model="Model.AdminMissionViewModel" />
                </div>


                <div class="tab-pane fade" id="v-pills-missiontheme" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit inventore ducimus, sunt illo porro explicabo repellendus ea? Tempora reiciendis provident reprehenderit perferendis corrupti nihil sequi, obcaecati aspernatur ducimus even Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, velit? iet, hic porro ab alias velit?</div>
                <div class="tab-pane fade" id="v-pills-missionskills" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit inventore ducimus, sunt illo porro explicabo repellendus ea? Tempora reiciendis provident reprehenderit perferendis corrupti nihil sequi, obcaecati aspernatur ducimus even Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, velit? iet, hic porro ab alias velit?</div>
                
                <div class="admin-missionapplication-wrapper">
                    <partial name="_AdminMissionApplication" model="Model.AdminMissionApplicationViewModel" />
                </div>
                
               
                <div class="admin-story-wrapper">
                    <partial name="_AdminStory" model="Model.AdminStoryViewModel" />
                </div>

                
                </div>
                <div class="tab-pane fade" id="v-pills-bannermanagement" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit inventore ducimus, sunt illo porro explicabo repellendus ea? Tempora reiciendis provident reprehenderit perferendis corrupti nihil sequi, obcaecati aspernatur ducimus even Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, velit? iet, hic porro ab alias velit?
                </div>*@
            </div>

        </div>
    </div>



</div>


<script>
function updateDateTime() 
          {
              var now = new Date(); // get the current date and time
              var formattedDate = now.toLocaleDateString('en-US', {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'});
              var formattedTime = now.toLocaleTimeString('en-US', {hour: 'numeric', minute: 'numeric', hour12: true});
              var formattedDateTime = formattedDate + ', ' + formattedTime; // combine the formatted date and time into a single string
              document.getElementById('left-time').innerHTML = formattedDateTime; // display the formatted date and time inside the div element
        }

    updateDateTime(); // call the function once to display the initial date and time

    setInterval(updateDateTime, 60000); // call the function every minute to update the date and time

</script>









<div class="modal fade" id="cms-delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="fw-normal">Are you sure you want to delete this item?</h6>
      </div>
      <div class="modal-footer">
        <button class="btn bg-white text-dark border border-dark rounded-pill px-3" data-bs-dismiss="modal">Cancel</button>
        <button class="btn text-orange bg-white border-orange text-orange rounded-pill px-3 ">Delete</button>
      </div>
    </div>
  </div>
</div>