@using CIPlatform.Models.ViewDataModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CustomTimesheetViewModel
@{
    var uid = 1;
}
<script src="~/js/VolunteerTimesheet.js"></script>
<div class="container-fluid">
    <div class="main-wrapper">

        <partial name="_Header" />
        <hr />
         
        <div class="container mt-5">
            <h1 class="pt-5 fw-lighter">Volunteering Timesheet</h1>

            <div class="row justify-content-between mt-5">
                <div class="col-lg-6" id="volTimesheetTimeBased">
                    <partial name="_TimeBasedTimesheet" model="Model.TimeBasedTimesheets" />
                </div>
                <div class="col-lg-6">
                    <partial name="_GoalBasedTimesheet" model="Model.GoalBasedTimesheets" />
                </div>
            </div>

        </div>
    </div>
</div>





